@media all and (max-width: 1600px){
article {

    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 1.5rem;
    padding-top: 18px;
}
}

@media all and (max-width: 600px){
    article {

        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        
        padding-top: 18px;
    }


}